.admin-sidebar{
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color:  #e4e4e4;
    & .link{
        font-size: 30px;
        width: 250px;
        display: flex;
        justify-content: center;
        margin: 50px 0;
        text-decoration: none;
    }
    & .admin-sidebar-content{
        & .admin-sidebar-link{
            width: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            margin-top: 20px;
            margin-left: 20px;
            font-size: larger;
            background-color: #ee5e40;
            padding: 5px;
            border-radius: 10px;
        }
    }
}