.navbar {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 75px;
    box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.13);
    background: #fff;
    z-index: 40;
    .navbar-logo-container {
        display: flex;
        align-items: center;
        margin: 10px;
    }

    .navbar-logo {
        width: 40px;
        height: 60px;
        margin-left: 10px;
    }
    .user-container{
        position: relative;
    }
    .user-logo{
        width: 50px;
        height: 50px;
        margin-right: 25px;
        border-radius: 50%;
        position: relative;
    }
    .navbar-user-modal{
        position: absolute;
        background-color: #dfdfdf;
        color: #000;
        padding: 5px;
        width: 100px;
        top: 50px;
        right:  5px;
        border-radius: 5px;
        text-align: center;
        box-shadow: 0 0 10px rgba(80, 80, 80, 0.856);
        .modal-arrow{
            position: absolute;
            top: -15px;
            left: 40px;
            color: #dfdfdf;
            font-size: x-large;
        }
    }
    .navbar-logo-text{
        font-size: x-large;
        font-weight: 600;
        margin-left: 10px;
    }
    .navbar-link{
        text-decoration: none;
        color: #000;
        font-weight: 600;
    }
    .navbar-link:hover{
        color: #ee5e40;
        transition: ease-in-out 0.3s;
    }
    .navbar-btn {
        margin-right: 30px;
        border: none;
        background-color: #ee5e40;
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
        font-weight: 600;
        cursor: pointer;
        text-decoration: none;
    }
}